#insta {
  background-image: url("../../assets//instagram-logo.png");
  background-size: cover;
  background-position: center;
}

#facebook {
  background-image: url("../../assets//facebook-logo.png");
  background-size: cover;
  background-position: center;
}

#linkedIn {
  background-image: url("../../assets//linkedIn-logo.png");
  background-size: cover;
  background-position: center;
}

#gitHub {
  background-image: url("../../assets//git-logo.png");
  background-size: cover;
  background-position: center;
}

.social-card {
  justify-content: flex-end;
  padding: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  gap: 1rem;
  height: var(--button-height);
  border-radius: var(--border-rad);
  box-shadow: var(--button-shadow);
}

.social-icon:hover {
  box-shadow: var(--color-button-shadow-hover);
}

.social-icon img {
  height: 130%;
  filter: invert(100%);
}

.social-icon p {
  color: var(--color-1);
}

@media (max-width: 575.98px) {
  .social-icon img {
    height: 90%;
  }
}
