@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-1: rgb(247, 242, 242);
  --color-1_10: rgba(247, 242, 242, 0.1);
  --color-2: rgb(93, 93, 93);
  --button-height: 40px;
  --card-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --button-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --light-button-shadow-hover: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  --dark-button-shadow-hover: rgb(79, 81, 83) 3px 3px 6px 0px inset,
    rgba(103, 103, 103, 0.5) -3px -3px 6px 1px inset;
  --color-button-shadow-hover: rgba(86, 88, 90, 0.449) 3px 3px 6px 0px inset,
    rgba(174, 174, 174, 0.119) -3px -3px 6px 1px inset;
  --border-rad: 32px;
  --min-height-cat-card: 400px;

  color-scheme: light dark;
  color: var(--color-2);
  background-color: var(--color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*FONTS*/

.title__regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.title__bold {
  font-family: "Abril Fatface", serif;
  font-weight: 700;
  font-style: normal;
}

.title__regular-italic {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: italic;
}

.text__regular {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text__bold {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text__regular-italic {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

/* FONT-SIZES */

h1 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1rem;
}

p {
  font-size: 0.7rem;
}

@media (max-width: 1399.98px) {
  h1 {
    font-size: 1.7rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 991.98px) {
  h1 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 767.98px) {
  h1 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 0.6rem;
  }

  p {
    font-size: 0.7rem;
  }
}

@media (max-width: 575.98px) {
  :root {
    --button-height: 60px;
  }

  h1 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.6rem;
  }
}
