#default-nav {
  width: 20vw;
  min-width: 350px;
  background-color: var(--color-2);
  padding: 0.5rem;
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--button-shadow);
}

.nav-button {
  color: var(--color-1);
  border-radius: 32px;
  padding: 0.5rem 1rem;
  box-shadow: var(--button-shadow);
}

.nav-button:hover:not(.nav-button__selected) {
  box-shadow: var(--dark-button-shadow-hover);
}

.nav-button__selected {
  background-color: var(--color-1);
  color: var(--color-2);
  box-shadow: var(--light-button-shadow-hover);
}

@media (max-width: 767.98px) {
  #default-nav {
    display: none;
  }
}
